./index.htm
./index.html
./papers.zip
*.wiki
anal/constant-q-cpp/
anal/cq/
anal/logaxis.c
anal/logft/
anal/run
anal/sndfile-tools*
anal/sox/
anal/vamp-plugin-sdk
anal/vamp-plugin-sdk-2.6/
audio/
delia-archive-gallery/
doc/
images/
LIAF/
log/
lyrics/
petition/
rec/
scans/
spectrograms/
test/
torrents/
video/
VIDEO/
